.App {
  text-align: center;
}
.grid-list-tile {
  cursor: pointer;
  box-sizing: border-box;
}
.grid-list-tile:hover {
  background-color: black;
  opacity: 0.75;
}
.color-block {
  height: 30px;
  width: 100px;
  border: 1px solid black;
}

.dialog-item-row {
  display: flex;
  min-width: 300px;
  justify-content: space-between;
  align-items: center;
}
